@{
    
}

<script>
    var habits = @Html.Raw(ViewData["Habits"]);
    var categories = @Html.Raw(ViewData["Categories"]);
    var redirectionDate = '@Html.Raw(ViewData["RedirectionDate"])';
</script>

<script src="~/js/Calendar/main/index.global.min.js"></script>
<script src="~/js/Calendar/interaction/index.global.min.js"></script>
<script src="~/js/Calendar/daygrid/index.global.min.js"></script>

<script type="module" src="~/js/categoriesDropdown.js"></script>
<script type="module" src="~/js/calendar.js"></script>

<div id='calendar'></div>